@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');/* main{
    height: 718px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/bannerimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* main h1{
font-family: DM Sans;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 73px;
width: 816px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
margin-top: 80px;
} */

/* main h2{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.9;
margin-top: 80px;
} */


body {
    font-family: "DM Sans";
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #DAF7A6;
    overflow: hidden;
  }
  
  .frame {
    border: 10px solid #FF8E00;
    width: 250px;
    overflow: hidden; 
  }
  
  .box-container {
    display: flex;
  }
  
  .box {
    box-sizing: border-box;
    border: 5px solid #FFF;
    background: #00E7FF;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
  }
  
  .button {
    background: #666;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    user-select: none;
    cursor: pointer;
  }
  
  .button-2-container {
    display: flex;
  }
  
  .button-2 {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #E0E0E0;
    margin: 6px;
    cursor: pointer;
  }
  
  .active {
    background: #999;
  }