@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
/* main{
    height: 718px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('/bannerimg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* main h1{
font-family: DM Sans;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 73px;
width: 816px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
margin-top: 80px;
} */

/* main h2{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.9;
margin-top: 80px;
} */


body {
    font-family: "DM Sans";
  }