@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
footer{
height: 414px;
width: 100%;  
display: flex;
justify-content: space-around;
align-items: flex-start;
background: #2E2E2E;
}
footer div{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
footer h2{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 150%;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}
.footer_div_one {
    display: flex;
    align-items: flex-start;
}
.div_one_p{
margin-top: 20px;
}
footer .footer_div_one ul li{
    display: inline;

}
.div_one_p , .div_two_p{
    margin-top: 20px;
}
footer .img_container{
    margin-top: -20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    width: 160px;
    border-radius: 10px;
}
footer ul li{
    
font-family: DM Sans;
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 150%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;

color: #FFFFFF;
margin-top: 10px;

}
footer p:not(.footer_div_one p){

margin-bottom: 10px;
}

footer p{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}