@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
header{
    height: 61px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(93.93deg, #26C0D5 -6.86%, #1B8CCC 107.58%, #1B6CCC 107.58%);
}
header ul li{
    display: inline;
    margin-left: 80px;
    margin-right: 40px;
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
color: #000000;
opacity: 0.4;
}
header .logo{
    margin-left: 55px;
}
header .theme{
    margin-right: 55px;
}
