.section_two {
    height: 934px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #2E2E2E;
}
.section_two p{

    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
text-align: center;
width: 965px;
color: #FFFFFF;
}
.section_two h1{
    font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #1382C7;

}
.section_two_div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
}

.section_two_div h2{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 150%;
text-align: center;
text-transform: capitalize;

color: #000000;
}

.section_two_div div {
    height: 244px;
    width: 223px;
    margin-left: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F7F7F7;
border: 1px solid #1382C7;
box-sizing: border-box;
border-radius: 9px;
}
